commands:
  create_tempMp3_folder:
    command: "mkdir -p /var/tempMp3"
    ignoreErrors: true  # 이미 존재하는 경우에도 에러 무시

files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/99_change_permissions.sh":
    mode: "000755"
    content: |
      #!/bin/bash
      chmod -R 777 /var/tempMp3

container_commands:
  01_chmod:
    command: "chmod -R 777 /var/tempMp3"